.empty{
    margin: 40px auto;
}

.card{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
    width:80%
}

.row{
    margin: 3% auto;
}

body {
    background-image: url(../images/background_guitar_chords.jpg);
}


.main{
    margin: 0 auto;
    max-width:80%;
      
    background-image: url("https://media.gettyimages.com/photos/guitar-strings-picture-id461261185?b=1&k=6&m=461261185&s=612x612&w=0&h=6XS1-PNGpxFUx3G5KF7-_T6Vy1ILXqPpr0Nn7FkCPqw="); 
    border: solid 3px #363633;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 36px;
    color:#ffffff;
}

h3{
    font-size: 24px;
    color: #ffffff;
}
h2{
    font-size: 24px;
    color: #f5f0f0;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link{
    margin:0px 5px;
    color: #ffffff;

}

.navbar{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSktf6ak0i6FrooalTpLB9sNuWlipZxt_TWoTPBcs6wOdHPXXJLNQ");
    
    padding: 3%;
    border: solid 1px #777777;
 
}

#win_lose{
    background-color: #0d0d0e;
}

#previousResult{
    
    background-color: #0d0d0e;
    border: solid 3px rgb(191, 233, 6);
    padding:1px;
}

.img-thumbnail {
    height:80%;
    width:80%;
}




