
.card{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
    width:70%;
    }

.row{
    margin: 3% auto;
}

body {
    background-image: url(../images/background_guitar_chords.jpg);
}


.main{
    margin: 0 auto;
    max-width:80%;
      
    background-image: url("https://media.gettyimages.com/photos/guitar-strings-picture-id461261185?b=1&k=6&m=461261185&s=612x612&w=0&h=6XS1-PNGpxFUx3G5KF7-_T6Vy1ILXqPpr0Nn7FkCPqw="); 
    border: solid 3px #363633;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



h3{
    font-size: 24px;
    color: #ffffff;
    
}

#Title{
    font-family: 'Open Sans', sans-serif;
    /* font-size: 200%; */
    color:#cec1c1;
}

h5{
    font-size: 12px;
    color: #ffffff59;
    
}

h2{
    font-size: 24px;
    color: #f5f0f0;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link{
    margin:0px 5px;
    color: #ffffff;

}

.navbar{
    
    background-image: url("https://media.gettyimages.com/photos/guitar-strings-picture-id461261185?b=1&k=6&m=461261185&s=612x612&w=0&h=6XS1-PNGpxFUx3G5KF7-_T6Vy1ILXqPpr0Nn7FkCPqw=");
    
    
    border: solid 3px #363633;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:1%;
 
}

#win_lose{
    background-color: #0d0d0e;
}

#previousResult{
    
    background-color: #0d0d0e;
    border: solid 3px rgb(191, 233, 6);
    padding:1px;
}

.img-thumbnail {
    height:70%;
    width:70%;
}

.guitar:hover {
    transform: scale(1.1);
   }


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape) {
    h3{
        font-size: 24px;
        color: #ffffff;
        
    }
    
    #Title{
        font-family: 'Open Sans', sans-serif;
        color:#cec1c1;
    }
    
    h5{
        font-size: 12px;
        color: #ffffff59;
        
    }
    
    h2{
        font-size: 24px;
        color: #f5f0f0;
    }
    
/* .card{
    width:30%;
    } */

    .card-body{
        padding:1%;
    }
    .card-text{
        font-size:50%;
    }
    .card-title{
        font-size:50%;
        margin-bottom: 0;

    }
    }



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait) { 

.navbar-header{
    display:none;
}
   
    h3{
        font-size: 24px;
        color: #ffffff;
        
    }
    
    #Title{
        font-family: 'Open Sans', sans-serif;
        color:#cec1c1;
    }
    
    h5{
        font-size: 12px;
        color: #ffffff59;
        
    }
    
    h2{
        font-size: 24px;
        color: #f5f0f0;
    }
    
.card{
    width:100%;
    
    }

    .card-body{
        padding:1%;
    }
    .card-text{
        font-size:50%;
    }
    .card-title{
        font-size:50%;
        margin-bottom: 0;

    }
}




